<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Scottify", root_path %></li>
    <% if current_user %>
      <li><%= link_to "Logout", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login with Spotify", spotify_login_path %></li>
    <% end %>
  </ul>
</div>
