<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <br>
          <div class="row">
			      <div class="col-md-4 text-center">
              <img class="img-square avatar avatar-original playlist-pic" style="-webkit-user-select:none;
              display:block; margin:auto;" src="<%= @playlist.images %>"/>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin"><%= link_to @playlist.name, "#{@playlist.ext_url}" %></h1>
                  <div class="track-count">
                    <p>
                      Total tracks: <%= @playlist.track_count %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
